/* You can add global styles to this file, and also import other style files */
@import "~ngx-smart-modal/ngx-smart-modal";

.ngx-notification {
  min-width: 100px;
  border-color: #272729;
  color: #c9c9c9;
}
